#App {
  background-color: #282c34;
  height: calc(100vh - 4px);
  font-size: calc(10px + 2vmin);
  color: white;
  border: 2px solid #5b5b5b;
}

body {
  overflow: hidden;
  margin: 0;
  padding: 0;
}
